<div id="place-element" class="marg-box guest-box-col normal-gap full-x-y"
    style="overflow:auto;">
    <div class="marg-box guest-box-col round-color fill-box">
        <div class="content-in-box fill-box guest-box-col smoall-gap">
            <p class="norm-text fill-box">Аккаунт</p>
            <p class="sub-text fill-box">ashot@gmail.com</p>
        </div>
        <div class="content-in-box fill-box guest-box-col smoall-gap">
            <p class="norm-text fill-box">Удалить аккаунт</p>
            <p class="sub-text fill-box">Стереть все данные</p>
        </div>
        <div class="content-in-box fill-box guest-box-col smoall-gap">
            <p class="norm-text fill-box">Выйти</p>
        </div>
    </div>
    <div class="marg-box guest-box-col round-color fill-box">
        <div class="content-in-box fill-box">
            <p class="norm-text fill-box">Проверить обновления</p>
        </div>
    </div>
</div>