<div class="button-bar active-home guest-box-row trans fill-box coloride">
    <div id="bar-home" class="fill-box guest-box-center" style="padding: 12px 0px;gap: 8px;">
        <div id="bar-home-icon" class="guest-box-center button-bar-icon">
            <img class="icon" src="/access/svg-icon/today.svg">
        </div>
        <p class="fat-text">Сегодня</p>
    </div>
    <div id="bar-all" class="fill-box guest-box-center"
        style="
        padding: 12px 0px;
        gap: 8px;">
        <div id="bar-all-icon" class="guest-box-center button-bar-icon">
            <img class="icon" src="/access/svg-icon/splitscreen.svg">
        </div>
        <p class="fat-text">Все задачи</p>
    </div>
    <div id="bar-setting" class="fill-box guest-box-center"
        style="
        padding: 12px 0px;
        gap: 8px;">
        <div id="bar-setting-icon" class="guest-box-center button-bar-icon">
            <img class="icon" src="/access/svg-icon/settings.svg">
        </div>
        <p class="fat-text">Настройки</p>
    </div>
</div>