<div class="marg-box guest-box-col round-color fill-box trans drop-down-close">
    <div id="click-place" class="guest-box-row fill-box">
        <div class="content-in-box fill-box">
            <p id="header" class="norm-text fill-box">Тема</p>
            <p id="status" class="sub-text fill-box">Светлая</p>
        </div>
        <div class="content-in-box">
            <img id="status-icon" class="icon" src="/access/svg-icon/arrow-down.svg"/>
        </div>
    </div>
    <div id="place-elem" class="guest-box-col fill-box">
        
    </div>
</div>