<div class="guest-box-col fill-box select-close">
    <div class="fill-box" style="padding:6px">
        <p id="placeholder" class="sub-text">Text</p>
    </div>
    <div class="guest-box-col fill-box squar-color">
        <div class="guest-box-row fill-box" style="padding: 0px 8px;">
            <div class="fill-box" style="padding: 16px 8px;">
                <p id="selected-elem" class="norm-text">Select</p>
            </div>
            <div class="" style="padding: 16px 8px;">
                <img id="status-icon" class="icon" src="/access/svg-icon/arrow-down.svg" />
            </div>
        </div>
        <div id="place-elem" class="fill-box">
        </div>
    </div>
</div>