<div class="marg-box fill-box">
    <div class="round-color fill-box" 
        style="
        border-radius:42px;
        padding: 0px 8px;
        display: flex;">

        <div id="button-back" class="content-in-box">
            <img class="icon" src="/access/svg-icon/arrow_back.svg" />
        </div>

        <p id="option-header-h" class="norm-text content-in-box fill-box">text</p>

        <div id="button-delete" class="content-in-box">
            <img class="icon" src="/access/svg-icon/delete.svg" />
        </div>

        <div id="button-save" class="content-in-box">
            <img class="icon" src="/access/svg-icon/save.svg" />
        </div>
    </div>
</div>