<div class="check-elem-close fill-box trans">
    <div class="round-color marg-box guest-box-col fill-box">
        <div class="guest-box-col fill-box maybe-row">
            <div class="guest-box-row fill-box elem3 maybe-hide">

                <div class="guest-box-row fill-box">
                    <div class="content-in-box">
                        <img class="icon" src="/access/svg-icon/Label outline.svg" />
                    </div>
                    <div class="content-in-box fill-box">
                        <p id="group-task" class="norm-text">Ярлык</p>
                    </div>
                </div>

                <div class="content-in-box">
                    <img class="icon" src="/access/svg-icon/arrow-down.svg" />
                </div>
            </div>
            <div id="task-check-place" class="guest-box-row elem1">
                <div class="content-in-box">
                    <img id="task-check-box" class="icon" src="/access/svg-icon/check-no.svg" />
                </div>
                <div class="content-in-box maybe-hide">
                    <p class="norm-text">Отметить</p>
                </div>
            </div>
            <div class="guest-box-col fill-box elem2">
                <div class="content-in-box">
                    <p id="name-task" class="norm-text">Название</p>
                    <p id="description-task" class="sub-text maybe-hide">Это описание для описания в описании есть описание, тоесть описание и
                        ещё более описание и описание</p>
                </div>
            </div>
            <div id="task-edit-place" class="guest-box-row maybe-hide elem4">
                <div class="content-in-box">
                    <img class="icon" src="/access/svg-icon/edit.svg" />
                </div>
                <div class="content-in-box fill-box">
                    <p class="norm-text">Изменить</p>
                </div>
            </div>
        </div>
    </div>
</div>