/* block param color */

.round-color {
    background-color: var(--primar-color);
    border-radius: 24px;
}

.squar-color {
    background-color: var(--primar-color);
    border-radius: 6px;
}

.coloride {
    background-color: var(--primar-color);
}

/* block param */
.marg-box {
    padding: 8px 16px;
}

.guest-box-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.guest-box-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.normal-gap {
    gap: 8px;
}

.smoall-gap {
    gap: 4px;
}

.guest-box-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-in-box {
    padding: 12px 6px;
}

.fill-box {
    width: 100%;
}

.over-hidden {
    overflow: hidden;
}

.full-x-y {
    width: 100%;
    height: 100%;
}

.flex-fill-col {
    width: 100%;
}

.flex-fill-row {
    flex-grow: 1;
}

.hide-box {
    display: none;
}

/* text params */

.norm-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #37425C;
}

.mnst-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;

    color: #37425C;
}

.sub-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    color: #37425C;
}

.fat-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    color: #37425C;
}

.one-string {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.icon {
    width: 24px;
    height: 24px;
    display: block;
}

.trans * , .trans {
    transition-property:all;
    transition-duration: 128ms;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}
